*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  padding-left: 180px;
  padding-right: 180px;
  padding-top: 30px;
}

.container { 
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.home { 
  display: flex;
}

.routes {
  display: flex;
  gap: 20px;
}

.about h2 { 
  margin-bottom: 30px;
}

header { 
  margin-bottom: 50px;
}

