*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  padding-left: 180px;
  padding-right: 180px;
  padding-top: 30px;
}

.container { 
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.routes {
  display: flex;
  gap: 20px;
}

.about h2 { 
  margin-bottom: 30px;
}

header { 
  margin-bottom: 50px;
}

.site-name { 
  font-size: x-large;
  font-weight: 800;
}

.role-title { 
  font-weight: 700;
}

.company { 
  font-weight: 600;
}

.date { 
  font-weight: 400;
  color: #808080;
}

.role-content { 
  margin-top: 15px;
}


.role { 
  margin-bottom:40px;
}


.work h2 { 
  margin-bottom: 30px;
}

a:link {
  color: black;
  text-decoration: none;
}
